<footer class="editContent">
    <div class="container">
        <div class="footer">
            <div class="row mt-lg-4">
                <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent">
                       Мы в соц.сетях</h3>
                    <div class="contact-info">
                        <div class="footer-address-inf my-4">
                            <ul class="w3layouts_social_list media-soc list-unstyled">
                                <li>
                                    <a href="#" class="w3pvt_facebook editContent">
                                        <span class="fa fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_twitter editContent">
                                        <span class="fa fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_dribble editContent">
                                        <span class="fa fa-dribbble"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_google editContent">
                                        <span class="fa fa-google-plus"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                    <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent">
                        Контакты</h3>
                    <div class="contact-info">
                        <div class="footer-address-inf my-4">
                            <h4 class="ad-info mb-2 editContent">Email </h4>
                            <p class="editContent"><a href="mailto:info@example.com">info@example.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- //footer -->